.detail_container {
  margin: 100px auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 1040px;
  height: 75vh;
  max-height: 75vh;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.right {
  background-color: #023e8a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left img {
  width: 80%;
  height: 80%;
}

.right h3 {
  text-align: left;
}
.right .price {
  font-weight: 700;
}

.back_btn {
  position: absolute;
  top: 20px;
  right: 30px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 8px 16px;
  font-weight: 600;
  transition: 300ms;
}
.back_btn:hover {
  background-color: #ade8f4;
  color: #023e8a;
}
