h3 {
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding-top: 10px;
}

.content {
  width: 100%;
  /* margin: 15px; */
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 400ms;
  background-color: #fff;
}
.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}
.content img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.content p {
  text-align: center;
  padding: 0 8px;
  color: #b2bec3;
}
.content h6 {
  text-align: center;
  font-size: 13px;
  margin: 0;
  color: #222f3e;
}

.content button {
  text-align: center;
  font-size: 24px;
  color: #fff;
  border: 0;
  padding: 15px;
  width: 100%;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #3b3e6e;
  transition: 300ms;
}
.content button:hover {
  background-color: #ade8f4;
  color: #000;
}
